.action-user {
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .name-avatar {
    height: 100%;
    display: flex;
    margin: 10px 0px 0px 10px;
    padding-bottom: 10px;

    .avatar-user {
      min-width: 40px;
      min-height: 40px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .name-user {
      margin-left: 10px;

      .name {
        font-size: 15.5px;
        font-weight: bold;
        color: #000;
      }

      .action {
        text-transform: lowercase;
      }

      .time-privacy {
        margin: 6px 0px 0px 0px;
        font-size: 12.5px;
        display: flex;

        p {
          margin: 0px;
        }

        .dot-icon {
          font-size: 3px;
          margin: 5px;
        }
      }

      .fa-caret-right {
        font-weight: bold;
        color: black;
        margin: 0px 2px;
      }
    }
  }
}

.attachments{
  margin-top: 10px;
  padding-top: 5px;
  background-color: rgb(214, 212, 212)
}

.video{
  width: 100vw;
  height: auto;
}

ion-grid {
  padding: 0px;
  margin: 0px;
  ion-col {
    padding: 0px;

    .btn-action {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 18px;
      }

      span {
        margin: 0px 5px;
        font-size: 14px;
      }
    }

    p {
      margin: 12px 0px;
      color: #000;
      font-style: italic;
      text-align: center;
      text-transform: initial;
    }
  }
}

.is-like {
	font-weight: bold;
	color: #4b7bec;
}
