<ion-header>
  <ion-list lines="none" style="margin-left: -20px; margin-top: -5px;">
    <ion-item>
      <ion-button slot="start" fill="clear" style="margin-right: -1px;">
        <!-- <ion-icon name="arrow-back-outline" style="font-size: 22px; color: rgb(35, 37, 35); margin-top: 5px;"></ion-icon> -->
        <ion-icon name="chevron-back" style="font-size: 22px; color: rgb(35, 37, 35); margin-top: 5px;"></ion-icon>
      </ion-button>
      <h2>GOON</h2>
      <ion-button slot="end" fill="clear">
        <ion-icon name="search" style="font-size: 22px; color: rgb(35, 37, 35);"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content style="border-top: 7px solid rgb(208, 212, 208);">
<div style="margin-left: -5px; margin-top: 5px; margin-top: -10px;">
  <ion-list lines="none">
    <ion-item>
      <ion-avatar style="margin-top: 19px;">
        <img src="../assets/imgs/anhdangnhap.jpg" alt="">
      </ion-avatar>
      <div style="margin-left: 10px;">
        <h5 style="font-weight: bold;">GOON</h5>
        <div style="font-size: 12px;margin-top: -10px; display: flex;color: rgb(160, 156, 156);">
          <ion-label>Được tài trợ </ion-label>
          <ion-icon name="earth" style="font-size: 15px; margin-left: 10px;"></ion-icon>
        </div>
      </div>
      <ion-button slot="end" fill="clear">
        <ion-icon name="ellipsis-horizontal" style="font-size: 22px; color: rgb(35, 37, 35);"></ion-icon>
        
      </ion-button>
    </ion-item>
  </ion-list>
</div>
<div style="margin-right: 15px;margin-left: 15px;margin-top: 10px;">
  dsdsadnsadnsdsdnsadjádnsdjsadsnadạndádnádnsândsjdjsd
  <a href="">...Xem thêm</a>
</div>
<div style="margin-right: 15px;margin-left: 15px;margin-top: 30px;">
  <img src="../assets/imgs/anhdemo.jpg" alt="">
</div>
</ion-content>
<ion-footer>
  <ion-list class="cmt">
    <ion-item>
      <ion-input placeholder="Viết bình luận..." ></ion-input>
      <ion-icon name="camera-outline" style="font-size: 25px;color: rgb(112, 105, 105);margin-right: 10px;"></ion-icon>
      <ion-icon name="gift-outline" style="font-size: 25px;color: rgb(112, 105, 105);margin-right: 10px;"></ion-icon>
      <ion-icon name="happy-outline" style="font-size: 25px;color: rgb(112, 105, 105);"></ion-icon>
    </ion-item>
  </ion-list>
</ion-footer>
