.header-group{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-right: 10px;

  ion-label{
    font-size: 25px;
    font-weight: bold;
    margin-top: 0.6rem;
    margin-left: 0.8rem;
  }
}

.suggest{
  display: flex;
  overflow-x: auto;
  margin-left: 10px;

  ion-chip{
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
}

.suggest-group{
  margin: 6px 10px;
  display: flex;
  overflow-x: auto;
  
  .group{
    margin: 5px;
  }

  .image-group{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .name-group{
    width: 100%;
    margin-top: 6px;
    font-weight: bold;
    font-size: 15px;
  }
}

.show-content-group{
  padding-top: 0.1px;
  background-color: #d1d8e0;
}