<ion-content>
  <div class="header-group">
    <ion-label>
      Nhóm
    </ion-label>
    <search-icon></search-icon>
  </div>

  <div class="suggest">
    <ion-chip>
      <ion-icon name="people"></ion-icon>
      <ion-label>Nhóm của bạn</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-icon name="compass"></ion-icon>
      <ion-label>Khám phá</ion-label>
    </ion-chip>  

    <ion-chip>
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Tạo mới</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-icon name="settings"></ion-icon>
      <ion-label>Cài đặt</ion-label>
    </ion-chip>
  </div>


</ion-content>