<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-icon name="create" slot="start" color="tertiary"></ion-icon>
      <ion-label>Tạo phòng họp mặt</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="images" slot="start" color="success"></ion-icon>
      <ion-label>Ảnh/Video</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="pricetags" slot="start" color="primary"></ion-icon>
      <ion-label>Gắn thẻ bạn bè</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="happy-outline" slot="start" color="warning"></ion-icon>
      <ion-label>Cảm xúc/Hoạt động</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="location" slot="start" color="redpink"></ion-icon>
      <ion-label>Check in</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="videocam" slot="start" color="greendangertail"></ion-icon>
      <ion-label>Phát trực tiếp</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="text" slot="start" color="maximungreen"></ion-icon>
      <ion-label>Màu nền</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="camera" slot="start" color="danger"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="wallet" slot="start" color="softblue"></ion-icon>
      <ion-label>Bán gì đó</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="aperture" slot="start" color="beniukonbronze"></ion-icon>
      <ion-label>Ảnh 3D</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="tv-sharp" slot="start" color="tertiary"></ion-icon>
      <ion-label>Xem chung</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
