<ion-grid>
  <ion-row>
    <ion-col size="6" class="col-menu col-menu-left">

      <!-- 1 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="heightblue"><i class="fas fa-gamepad fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Chơi game
          </ion-label>
          <br>
          <!-- <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label> -->
        </ion-card-content>
      </ion-card>

      <!-- 3 -->
      <ion-card button> 
        <ion-card-header>
          <ion-label color="softblue"><i class="fas fa-users fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Nhóm
          </ion-label>
          <br>
          <!-- <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label> -->
        </ion-card-content>
      </ion-card>

      <!-- 5 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="greendangertail"><i class="fas fa-video fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Video trên Watch
          </ion-label>
          <br>
          <!-- <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label> -->
        </ion-card-content>
      </ion-card>

      <!-- 7 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="innuendo"><i class="fas fa-history fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Kỷ niệm
          </ion-label>
          <br>
          <!-- <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label> -->
        </ion-card-content>
      </ion-card>

      <!-- 9 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="warning"><i class="far fa-flag fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Trang
          </ion-label>
          <br>
          <!-- <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label> -->
        </ion-card-content>
      </ion-card>

      <!-- 11 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="danger"><i class="fas fa-heart fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Hẹn hò
          </ion-label>
          <br>
          <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            100 yêu cầu
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6" class="col-menu col-menu-right">

      <!-- 2 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="maximungreen"><i class="fas fa-search-location fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Tìm kiếm bạn bè
          </ion-label>
          <br>
          <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label>
        </ion-card-content>
      </ion-card>

      <!-- 4 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="heightblue"><i class="fas fa-luggage-cart fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Marketpalce
          </ion-label>
          <br>
          <!-- <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label> -->
        </ion-card-content>
      </ion-card>

      <!-- 6 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="summersky"><i class="far fa-calendar-alt fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Sự kiện
          </ion-label>
          <br>
          <!-- <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label> -->
        </ion-card-content>
      </ion-card>

      <!-- 8 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="medium"><i class="fas fa-bookmark fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Đã lưu
          </ion-label>
          <br>
          <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            5 mục chưa mở
          </ion-label>
        </ion-card-content>
      </ion-card>

      <!-- 10 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="success"><i class="fas fa-street-view fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Bạn bè quanh đây
          </ion-label>
          <br>
          <!-- <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label> -->
        </ion-card-content>
      </ion-card>

      <!-- 12 -->
      <ion-card button>
        <ion-card-header>
          <ion-label color="beniukonbronze"><i class="fas fa-briefcase fa-2x"></i></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="content-card">
            Việc làm
          </ion-label>
          <br>
          <!-- <ion-label class="title-card">
            <ion-label color="redpink"><i class="fas fa-circle fa-xs"></i></ion-label>
            8 mới
          </ion-label> -->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- ------------------------------------------------------- -->

<ion-list lines="none" style="padding-bottom: 0px;">

  <!-- Xem thêm -->
  <ion-item button detail="false" class="btn-more" (click)="onMoreSee()">
    <ion-icon name="list-outline" slot="start"></ion-icon>
      <p>Xem thêm</p>
    <ion-icon [name]="isShowMoreSee ? 'chevron-up-outline' : 'chevron-down-outline' " slot="end"></ion-icon>
  </ion-item>
  <div class="more-see" [style.display]="isShowMoreSee ? 'block' : 'none' ">
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-heartbeat fa-lg"></i>
        <ion-label>Chiến dịch gây quỹ</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-hourglass-end fa-lg"></i>
        <ion-label>Gần đây nhất</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fab fa-adversal fa-lg"></i>
        <ion-label>Quảng cáo</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-cloud-sun-rain fa-lg"></i>
        <ion-label>Thời tiết</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-wifi fa-lg"></i>
        <ion-label>Tìm Wifi</ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- Trợ giúp & hỗ trợ -->
  <ion-item button detail="false" class="btn-more" (click)="onMoreHelp()">
    <ion-icon name="help-circle-outline" slot="start"></ion-icon>
      <p>Trợ giúp & hỗ trợ</p>
    <ion-icon [name]="isShowMoreHelp ? 'chevron-up-outline' : 'chevron-down-outline' " slot="end"></ion-icon>
  </ion-item>
  <div class="more-see" [style.display]="isShowMoreHelp ? 'block' : 'none' ">
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-life-ring fa-lg"></i>
        <ion-label>Trung tâm trợ giúp</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-envelope-open-text fa-lg"></i>
        <ion-label>Hộp thư hỗ trợ</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-exclamation-triangle fa-lg"></i>
        <ion-label>Báo cáo sự cố</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-book fa-lg"></i>
        <ion-label>Điều khoản & chính sách</ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- Cài đặt & quyền riêng tư -->
  <ion-item button detail="false" class="btn-more" (click)="onMoreSettingPrivate()">
    <ion-icon name="settings-outline" slot="start"></ion-icon>
      <p>Cài đặt & quyền riêng tư</p>
    <ion-icon [name]="isShowMoreSettingPrivate ? 'chevron-up-outline' : 'chevron-down-outline' " slot="end"></ion-icon>
  </ion-item>
  <div class="more-see" [style.display]="isShowMoreSettingPrivate ? 'block' : 'none' ">
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-user-cog fa-lg"></i>
        <ion-label>Cài đặt</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-user-lock fa-lg"></i>
        <ion-label>Lối tắt quyền riêng tư</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button class="btn-action">
        <i class="fas fa-globe fa-lg"></i>
        <ion-label>Ngôn ngữ</ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- Đăng Xuất -->
  <ion-item button detail="false" class="btn-more" (click)="onLogout()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    <p>Đăng Xuất</p>
  </ion-item>

</ion-list>
