<ion-list lines="none">
  <ion-item button detail="false">
    <i class="far fa-question-circle fa-lg"></i>
    <ion-label style="margin-left: 1em;">
      <span>Tại sao tôi nhìn thấy bài viết này</span>
    </ion-label>
  </ion-item>
  
  <ion-item button detail="false">
    <i class="fas fa-exclamation-triangle fa-lg"></i>
    <ion-label style="margin-left: 1em;">
      <span>Tìm hỗ trợ hoặc báo cáo bài viết</span>
      <br>
      <small>Tôi lo ngại về bài viết này</small>
    </ion-label>
  </ion-item>
  
  <ion-item button detail="false">
    <i class="far fa-bell fa-lg"></i>
    <ion-label style="margin-left: 1em;">
      <span>Bật thông báo về bài viết bày</span>
    </ion-label>
  </ion-item>
  
  <ion-item button detail="false">
    <i class="fas fa-link fa-lg"></i>
    <ion-label style="margin-left: 1em;">
      <span>Sao chép liên kết</span>
    </ion-label>
  </ion-item>
</ion-list>
