ion-content{
  --ion-background-color: #f1f2f6;
}

.title-share{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  ion-label{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
  }

  .btn-share{
    font-size: 1.5em;
    margin-top: 0.2rem;
    margin-right: 0.8em;
    background-color: white;
    padding: 6px 6px 0px 6px;
    border-radius: 50px;
  }
}

