<ion-content>
  <div class="title-menu-page">
    <ion-label>
      Menu
    </ion-label>
    <div class="btn-menu-page">
      <search-icon [backgroundColor]="'white'"></search-icon>
    </div>
  </div>

  <ion-item lines="none" button detail="false" (click)="onShowProfile()">
    <ion-avatar>
      <img [src]="profile.avatar">
    </ion-avatar>
    <ion-label style="margin-left: 1em">
      <b style="font-size: large;">{{ profile.nameUser }}</b>
      <br>
      <p>Xem trang cá nhân của bạn</p>
    </ion-label>
  </ion-item>

  <menu-card></menu-card>

</ion-content>
