ion-content{
  --ion-background-color: #f1f2f6;
}

.title-menu-page{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  ion-label{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
  }

  .btn-menu-page{
    margin-top: 0.2rem;
    margin-right: 0.8em;
  }
}

