.quick-options{
  display: flex;
  justify-content: space-evenly;

  ion-button{
    font-size: 0.8em;
    text-transform: initial;
  }

  .line-quick-options{
    margin-top: 0.8rem;
    opacity: 0.5;
  }
}
