<ion-content>
  <div>
    <img src="../assets/imgs/demo.jpg" alt="#" style="height: 100%;width: 100%; ">
  </div>
  <!-- size="200px" style="width: 50% ; height : 50%  ; border:7px solid rgb(255, 255, 255);margin-left: 25%;margin-top: -25%;" -->
  <div>
    <!-- <ion-avatar style="width: 50% ; height : 50%  ; border:7px solid rgb(218, 44, 44);margin-left: 25%;margin-top: -25%;">
      <ion-avatar style="width: 99.9% ; height : 99.9%; border:7px solid rgb(218, 44, 44);">
        <img src="../assets/icon/avata.jpg" alt="#">
      </ion-avatar>
    </ion-avatar> -->
    <ion-avatar size="200px" style="width: 50% ; height : 50%  ; border:10px solid rgb(255, 253, 253);margin-left: 25%;margin-top: -25%;">
      <img src="../assets/imgs/avata.jpg" alt="#">
    </ion-avatar>
    
    <!-- <ion-avatar style="background-color: rgb(139, 245, 33);height: 30px;width: 30px; border:5px solid rgb(255, 255, 255);margin-top: -80px;margin-left: 110px;">
  
    </ion-avatar> -->
  </div>
  
  
  <div  style="text-align: center;">
  <h2 style="font-weight: bold; font-size: 150%;">Nguyễn Văn Tráng</h2>
  <h5 style="width: 50%;text-align: center;margin-left: 25%;margin-top: -1%;color: rgb(173, 167, 167);">Thích màu hồng. Ghét sự giả dối</h5>
  </div>
  <div>
    <ion-fab horizontal="start" slot="fixed" style="display: flex;">
      <ion-button style="width: 90px;height: 100px;text-align: center;margin-left: 1%;" fill="clear">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-fab-button color="light" style="margin-top: 5px;margin-left: 10px;">
                <ion-icon name="add-circle" style="font-size: 40px;"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p style="font-size: 10px;margin-top: -1px;color: black;">Add story</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
      <ion-button style="width: 90px;height: 100px;text-align: center;margin-left: 1%;" fill="clear">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-fab-button color="light" style="margin-top: 5px;margin-left: 10px;">
                <ion-icon name="create" style="font-size: 40px;"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p style="font-size: 10px;margin-top: -1px;color: black;">Edit profile</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
      <ion-button style="width: 90px;height: 100px;text-align: center;margin-left: 1%;" fill="clear">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-fab-button color="light" style="margin-top: 5px;margin-left: 5px;">
                <ion-icon name="list" style="font-size: 40px;"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p style="font-size: 10px;margin-top: -1px;color: black;">Add story</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
      <ion-button style="width: 90px;height: 100px;text-align: center;margin-left: 1%;" fill="clear">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-fab-button color="light" style="margin-top: 5px;margin-left: 3px;">
                <ion-icon name="ellipsis-horizontal-circle-sharp" style="font-size: 40px;"></ion-icon>
                
              </ion-fab-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p style="font-size: 10px;margin-top: -1px;color: black;">More</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
    </ion-fab>
  </div>
  </ion-content>
  
