// #anhdd {
//     border-radius:50%;
//     height:50%;
//     width: 50%;
//     border:10px solid rgb(255, 253, 253);
//     margin-left: 25%;
//     margin-top: -25%;
// }
#anhdd {
    border-radius:50%;
    height:50%;
    width: 50%;
    border:10px solid rgb(255, 253, 253);
    margin-left: 25%;
    margin-top: -25%;
}
#anhbia{
    height: 33%;
    width: 100%; 
    background-image: url("../../../assets/imgs/anhdemo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#circle1 {
	border-radius: 50%;
}
.itempro{
    font-size: 25px;
    color: rgb(141, 137, 132);
}