<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/index/home" icon="arrow-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Tìm kiếm" class="input-search" clearInput="true"></ion-input>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full" class="edit-search">
    <ion-label slot="start">Tìm kiếm gần đây</ion-label>
    <ion-text slot="end" class="ion-activatable ripple-parent">
      Chỉnh sửa
      <ion-ripple-effect></ion-ripple-effect>
    </ion-text>
  </ion-item>


</ion-content>
