.header {
	ion-list {
		padding: 0px;
	}

	.btn-status {
		min-width: 80vw;
		margin-left: 1em;
		min-height: 2rem;
  }
  
	.content-btn-status {
		color: black;
		text-transform: initial;
	}

	.list-ios {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	border-bottom: 1px solid #d1d8e0;
}

.quick-options{
  display: flex;
  justify-content: space-evenly;

  ion-button{
    font-size: 0.8em;
    text-transform: initial;
  }

  .line-quick-options{
    margin-top: 0.8rem;
    opacity: 0.5;
  }
}

.content-status{
	background-color: #d1d8e0;
	
	ion-card{
		background-color: white;
		padding: 0px;
		margin: 0px;
		border-radius: 0px;

		ion-card-content{
			padding: 0px;
			margin: 0px;
		}

		ion-grid{
			height: 28vw;
			padding: 0px;
			margin: 0px;
		}
	}

	.space-card{
		margin: 0px;
		margin-bottom: 8px;
		height: 0px;
	}
}

.top-like-comment-share{
	margin: 8px 10px 0px 10px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid gainsboro;
	padding-bottom: 5px;

	.top-like{
		.fa-thumbs-up{
			color: #4b7bec;
		}

		display: flex;
		align-items: flex-start;
	}

	.top-comment-share{
		display: flex;

		p{
			margin: 0px;
			margin-left: 10px;
		};
	}
}

