ion-toolbar{
  ion-title{
    text-align: left;
    color: #0652DD;
    font-weight: bold;
    font-size: 30px;
    margin-left: 1rem;
    font-family: 'Bree Serif';
    text-transform: lowercase;
  }

  .ios{ 
    padding: 0px;
  }

  .md{
    padding: 0px;
  }

  .icon-message{
    margin-right: 10px;
    ion-badge{
      margin-left: -13px;
      margin-bottom: 7px;
      padding: 3px;
      border-radius: 10px;
      font-size: 10px;
    }
  }
}

.header-md::after{
  width: 0px;
  height: 0px;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0px;
}

.tab-option{
  ion-icon {
    font-size: 2.2em;
  }
}

.underline-btn{
  border-bottom: 2px solid #3867d6;
}

.color-ripple-effect{
  --ripple-color: #636e72;
}

super-tabs-toolbar{
  border-bottom: 1px solid gainsboro;
}

super-tabs-toolbar:after{
  width: 0px;
  height: 0px;
}