<ion-header [ngClass]="{'header': !isActiveHome}">
  <ion-toolbar [ngClass]="{'header': !isActiveHome}">
    <ion-title>
      <span>Facebook</span>
    </ion-title>
    <ion-buttons slot="end">
      <search-icon (click)="onSearch()"></search-icon>
      <div class="icon-message">
        <messenger-icon></messenger-icon>
        <ion-badge color="danger">99</ion-badge>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'content': !isActiveHome}">
  <ion-tabs #tabOptions (ionTabsDidChange)="onChangeTabs(tabOptions)">
    <ion-tab-bar slot="top" >
      <ion-tab-button tab="home" class="tab-option" 
        [ngClass]="{ 'underline-btn' : isActiveHome, 'color-ripple-effect': isActiveHome }">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="group" class="tab-option" 
        [ngClass]="{ 'underline-btn' : isActiveGroup, 'color-ripple-effect': isActiveGroup }">
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="watch" class="tab-option" 
        [ngClass]="{ 'underline-btn' : isActiveWatch, 'color-ripple-effect': isActiveWatch }">
        <ion-icon name="videocam"></ion-icon>
        <ion-badge color="danger" [style.display]="isActiveWatch ? 'none' : 'block'">20</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="notifications" class="tab-option" 
        [ngClass]="{ 'underline-btn' : isActiveNotifi, 'color-ripple-effect': isActiveNotifi }">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" [style.display]="isActiveNotifi ? 'none' : 'block'">30</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="menu" class="tab-option" 
        [ngClass]="{ 'underline-btn' : isActiveMenu, 'color-ripple-effect': isActiveMenu }">
        <ion-icon name="menu"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>