<ion-header style="height: 8%;">
  <div style="display: flex;height: 100%;">
    <div style="text-align: center;width: 10%;">
      <ion-button slot="start" fill="clear" style="width: 100%;height: 100%;margin: 0px;margin-left: 5%;">
        <ion-back-button defaultHref="/" color="dark" text=''></ion-back-button>
      </ion-button>
    </div>
    <div style="height: 100%;width: 80%;border-radius: 100px;display: flex; align-items: center;justify-content: center;">
      <b style="font-size: 24px;"> Cài đặt trang cá nhân</b>
    </div> 
  </div>
</ion-header>

<ion-content>
  <div class="boder-top">
    <ion-list style="padding-bottom: 0px;">
      <ion-item>
          <ion-icon name="create-outline" class="itempro"></ion-icon>
          <p style="margin-left: 20px;">Chỉnh sửa trang cá nhân</p>
      </ion-item>
      <ion-item>
          <ion-icon name="timer-outline" class="itempro"></ion-icon>
          <p style="margin-left: 20px;">Kho lưu trữ</p>
      </ion-item>
      <ion-item>
          <ion-icon name="bookmark-outline" class="itempro"></ion-icon>
          <p style="margin-left: 20px;">mục đã lưu</p>
      </ion-item>
    </ion-list>
  </div>
  
  <div class="boder-top">
    <ion-list style="padding-bottom: 0px;">
      <ion-item>
          <ion-icon name="eye-outline" class="itempro"></ion-icon>
          <p style="margin-left: 20px;">Chế độ xem</p>
      </ion-item>
      <ion-item>
          <ion-icon name="list-outline" class="itempro"></ion-icon>
          <p style="margin-left: 20px;">Nhật ký hoạt động</p>
      </ion-item>
      <ion-item>
          <ion-icon name="document-text-outline" class="itempro"></ion-icon>
          <p style="margin-left: 20px;">Quản lý bài viết</p>
      </ion-item>
      <ion-item>
          <ion-icon name="alarm-outline" class="itempro"></ion-icon>
          <p style="margin-left: 20px;">Xem lại dòng thời gian</p>
      </ion-item>
      <ion-item>
          <ion-icon name="lock-closed-outline" class="itempro"></ion-icon>
          <p style="margin-left: 20px;">Xem lối tắt quyền riêng tư</p>
      </ion-item>
      <ion-item>
          <ion-icon name="search-outline" class="itempro"></ion-icon>
          <p style="margin-left: 20px;">Tìm kiếm trang cá nhân</p>
      </ion-item>
    </ion-list>
  </div>
  
  <div class="boder-top">
    <div style="margin-top: 10px;margin-left: 12px;">
      <b style="font-size: 18px;">Liên kết đến trang cá nhân của bạn</b>
      <p style="font-size: 12px;border-bottom: rgb(214, 212, 212) 2px outset ;padding-bottom: 5px;">liên kết của riêng bạn trên Facebook</p>
    </div> 
    <div style="width: 100%;margin-left: 12px;margin-top: -10px;">
      <b style="font-size: 12px;">https://www.facebook.com/boycodon1999</b>
      <div>
        <ion-button style="width: 40%;height: 30px;font-size: 12px;" fill="outline" color="dark">Sao chép liên kết</ion-button>
      </div>
    </div>
  </div>
    
</ion-content>
