@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.popover-content {
	bottom: 0px !important;
	top: auto !important;
	left: -1px !important;
	width: 100.5vw !important;
	transform-origin: bottom right !important;
}

.sc-ion-popover-ios {
	border-radius: 0px !important;
}

.sc-ion-popover-md {
	border-radius: 0px !important;
}

.popover-translucent.sc-ion-popover-ios-h .popover-content.sc-ion-popover-ios,
.popover-translucent.sc-ion-popover-ios-h
	.popover-arrow.sc-ion-popover-ios::after {
	background: rgba(var(--ion-background-color-rgb, 255, 255, 255), 1);
}


.textarea-wrapper{
	height: 100%;
	textarea{
		padding: 0px !important;
		height: 100%;
	}
}

.alert-button-group.sc-ion-alert-md{
	justify-content: center !important;
}

.modalStatus{
	--width: 100vw;
	--height: 100vh;
	--border-radius: 0px;
}

.btnCreateAlbum{
	text-transform: initial !important;
	font-size: 18px !important;
}


.actions-create-status{
	top: 60vh !important;
	--height: 40vh;
	--border-radius: 0px;
	--width: 100vw;
}

.modal-search{
	--width: 100vw;
	--height: 100vh;
	--border-radius: 0px;
}

.input-clear-icon.sc-ion-input-md{
  margin-right: 10px;
}

.input-clear-icon.sc-ion-input-ios{
	margin-right: 5px;
}